<?xml version="1.0"?>
<launch>
  <!-- set model path -->
  <env name="GAZEBO_MODEL_PATH" value="$(find uos_gazebo_worlds)/Media/models/"/>
  <!-- send kurt urdf to param server -->
  <include file="$(find kurt_description)/launch/upload_kurt360.launch" />

  <!-- start uos avz world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find uos_gazebo_worlds)/worlds/avz_collada.world"/>
  </include>

  <include file="$(find kurt_gazebo)/launch/robot.launch"/>

  <!-- Default Controllers -->
  <rosparam command="load" file="$(find kurt_gazebo)/config/rotunit_controller.yaml" />
  <rosparam command="load" file="$(find kurt_gazebo)/config/joint_state_controller.yaml" />

  <!-- Controllers that come up loaded -->
  <node name="default_loaded_controllers_spawner"
    pkg="controller_manager" type="spawner" output="screen" respawn="false"
    args="rotunit_controller joint_state_controller" />

  <!-- Fake calibration -->
  <node pkg="rostopic" type="rostopic" name="fake_joint_calibration"
    args="pub /calibrated std_msgs/Bool true" />

  <!-- set rotunit speed -->
  <node pkg="rostopic" type="rostopic" name="command_rotunit_speed"
    args="pub /rotunit_controller/command std_msgs/Float64 0.5" />

  <include file="$(find kurt_bringup)/launch/rotunit_filter_chain.launch" />
</launch>
