<?xml version="1.0"?>
<launch>
  <arg name="cloud_frame" default="/base_link"/>

  <!-- self-filtering based on radial point removal around the base_link -->
  <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="scan360_self_filter" output="screen">
    <remap from="scan" to="scan360" />
    <remap from="scan_filtered" to="scan360_filtered" />
    <rosparam command="load" file="$(find kurt_bringup)/config/kurt360_laser_self_filter.yaml"/>
  </node>

  <!-- assembler for filtered laser scans, provides assemble_scans service -->
  <node pkg="laser_assembler" type="laser_scan_assembler" name="laser_scan_assembler" output="screen">
    <param name="fixed_frame" value="$(arg cloud_frame)" />
    <remap from="/scan" to="/scan360_filtered"/>
    <param name="max_scans" value="15000" />
    <param name="ignore_laser_skew" value="false" />
  </node>

  <!-- regularly calls assemble_scans service, publishes assembled_cloud (PointCloud2) -->
  <node pkg="rotunit_snapshotter" type="rotunit_snapshotter" name="rotunit_snapshotter" output="screen"/>
</launch>
